venv/
__pycache__/
.ipynb_checkpoints
*.pyc
*.pkl
*.log
.DS_Store
models/
embeddings/
data/
*.csv
data/raw
data/*
wandb/
.env
*.db
.zen
.gdrive_cred.json
frontend/
*.ipynb
clooudflared

/mount_gdrive.sh
/setup_colab.sh
/cloudflared