# Base dependencies (from second !pip command)
python-dotenv
transformers
peft
bitsandbytes
accelerate
wandb
datasets
evaluate
rouge_score
qdrant-client
rank_bm25
vllm
deepmultilingualpunctuation
lightgbm
fastapi
weave
uvicorn
autoawq
autoawq-kernels
sentence-transformers